<!DOCTYPE html>
<html lang="es">
<head>
    <!---
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acueducto Comunitario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    --->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acueducto Comunitario</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">💧 Gestión Acueducto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lista_socios') }}">Socios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lista_predios') }}">Predios/Medidores</a>
                </li>
            </ul>
            <div class="ms-lg-3">
                <a href="{{ url_for('nuevo_socio') }}" class="btn btn-light btn-sm"> + Socio</a>
                <a href="{{ url_for('nuevo_predio') }}" class="btn btn-outline-light btn-sm"> + Predio</a>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-light btn-sm"> Logout </a>
            </div>
        </div>
    </div>
</nav>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>