{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h4><i class="bi bi-person-plus"></i> Crear Nuevo Usuario del Sistema</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Nombre de Usuario</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Rol de Acceso</label>
                        <select name="rol" class="form-select">
                            <option value="auditor">Auditor (Solo lecturas)</option>
                            <option value="operador">Operador</option>
                            <option value="admin">Administrador (Todo el sistema)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Registrar Usuario</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}